@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
:root{
    --bg-primary: #212529;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    height: 100vh;
}

.myCard{
    background: cornflowerblue;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    &:hover{
        box-shadow: 4px 4px 4px blue;
    }
    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    a{
        &:hover{
            color: inherit;
        }
    }
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cmd-btn{
    border: 1px solid grey;
    min-height: 100px;
}
td i{
    color: red;
}
header{
    position: sticky;
    top: 0;
}
.img-single{
    img{
        
    }
}