@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
:root{
    --bg-primary: #212529;
}
a{
    text-decoration: none;
    color: inherit;
}
.myCard{
    background: cornflowerblue;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    img{
        border-radius: 50%;
    }
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cmd-btn{
    border: 1px solid grey;
    min-height: 100px;
}
td i{
    color: red;
}
footer{
    min-height: 10vh;
    background: var(--bg-primary);
}
.img-single{
    img{
        
    }
}