@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
:root{
    --bg-primary: #212529;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: black;
}
body{
    height: 100vh;
}

.myCard{
    background: gainsboro;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    &:hover{
        box-shadow: 4px 4px 4px grey;
        color: white;
    }
    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    a{
        &:hover{
            color: inherit;
        }
    }
}
.myCard_single{
    // background: cornflowerblue;
    // border: 1px solid black;
    margin: 10px;
    text-align: center;
    min-height: 90vh;
    background: var(--bg-primary);
    color: white;

    img{
        border-radius: 18px 18px;
        max-width: 100%;
        height: 400px;
    }
    a{
        &:hover{
            color: inherit;
        }
    }
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cmd-btn{
    border: 1px solid grey;
    min-height: 100px;
}
td i{
    color: red;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
